doctype html
html
    head
        title Passage Word Replacement
        link(rel="stylesheet", href="css/bootstrap.min.css")
        script(type="text/javascript", src="js/jquery.min.js")

        link(rel="stylesheet", href="css/feedback.css")
        script(type="text/javascript", src="js/feedback.js")

        script(type="text/coffeescript", src="coffee/index.coffee")
        link(rel="stylesheet/less", type="text/css", href="less/index.less")

        script(type="text/javascript", src="js/less.min.js")
        script(type="text/javascript", src="js/coffee-script.js")
    body
        .container
            .jumbotron
                h1.title Passage Word Replacement

            .panel.panel-primary
                .panel-heading
                    h2 Mechanics - External Replace
                .panel-body.item(data-type="external-replace")
                    div.question
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper est at commodo feugiat. Aliquam scelerisque dictum hendrerit. Donec nec dictum enim. Vivamus finibus ligula non aliquam consequat. Morbi vitae tortor ac est vestibulum cursus. Nunc eu sapien tincidunt, venenatis velit auctor, hendrerit urna. Aenean iaculis fermentum mi. Maecenas eu laoreet nibh. Duis ornare fringilla diam, non scelerisque est egestas eu. Nulla elementum ultricies dui, non efficitur velit consequat non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

                        p Nullam elementum eu augue non pharetra. Vivamus lacinia velit justo, sit amet venenatis eros commodo a. Quisque tellus sapien, placerat et metus at, vestibulum aliquet enim. Duis pulvinar odio et quam pulvinar euismod. Integer aliquet non nisi ac interdum. Mauris vulputate purus sit amet nunc luctus, vitae eleifend magna gravida. Phasellus cursus odio id commodo rutrum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque aliquam, urna in congue luctus, quam sem dapibus lectus, a auctor lorem neque ac orci. Mauris maximus non odio pretium hendrerit. Maecenas ut consectetur diam. Nunc ut urna in nibh efficitur euismod in malesuada tortor. Sed ipsum neque, mollis pretium quam quis, euismod tempor sem.

            .panel.panel-primary
                .panel-heading
                    h2 Mechanics - Inline Replace
                .panel-body.item(data-type="inline-replace")
                    div.question
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper est at commodo feugiat. Aliquam scelerisque dictum hendrerit. Donec nec dictum enim. Vivamus finibus ligula non aliquam consequat. Morbi vitae tortor ac est vestibulum cursus. Nunc eu sapien tincidunt, venenatis velit auctor, hendrerit urna. Aenean iaculis fermentum mi. Maecenas eu laoreet nibh. Duis ornare fringilla diam, non scelerisque est egestas eu. Nulla elementum ultricies dui, non efficitur velit consequat non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

                        p Nullam elementum eu augue non pharetra. Vivamus lacinia velit justo, sit amet venenatis eros commodo a. Quisque tellus sapien, placerat et metus at, vestibulum aliquet enim. Duis pulvinar odio et quam pulvinar euismod. Integer aliquet non nisi ac interdum. Mauris vulputate purus sit amet nunc luctus, vitae eleifend magna gravida. Phasellus cursus odio id commodo rutrum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque aliquam, urna in congue luctus, quam sem dapibus lectus, a auctor lorem neque ac orci. Mauris maximus non odio pretium hendrerit. Maecenas ut consectetur diam. Nunc ut urna in nibh efficitur euismod in malesuada tortor. Sed ipsum neque, mollis pretium quam quis, euismod tempor sem.

            .panel.panel-warning
                .panel-heading
                    h2 To Do
                .panel-body#feedback(data-identifier="paragraph-word-replacement")